
  .frmstyl{
      border-radius: 5px;
      background-color: rgba(184, 110, 110, 0.6);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      width: 25rem;
      height: 28rem;
    }
    .frmstyl label{
      font-size: 15px;
      letter-spacing: 0.3px;
      font-family: sans-serif;
   
    }

  .signup{
    color:white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(55, 55, 55);
  }
  .outer p{
      font-size: 0.8rem;
  }
  h6{
    text-align: center;
  }

  a{
    text-decoration: none;
  }